{% extends 'core/base.html' %} {% block title %}Log In{% endblock %} {% block content %}
<div class="w-1/2 my-6 mx-auto bg-gray-100 rounded p-6">
    <h1 class="mb-6 text-3xl">Log In</h1>
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Username</label><br />
            {{form.username}}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Password</label><br />
            {{form.password}}
        </div>

        {% if form.errors or form.non_field_errors%}
        <div class="mb-3 p-6 bg-red-100 roudned">
            <ul class="text-red-500">
                {% for field in form %}
                <li>{{field.errors}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif%}
        <button class="py-2 px-8 text-lg bg-teal-400 hover:bg-teal-500 rounded text-white" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
