{% extends 'core/base.html' %} {% block title %}Items{% endblock title %} {% block content %}
<div class="pb-6 grid grid-cols-4 gap-4 mt-6">
    <div class="col-span-1 bg-gray-100 rounded p-4">
        <h1 class="text-center text-2xl mb-4">Search and Filters</h1>
        <form method="get" action="{% url 'item:items' %}">
            <label class="inline-block mb-2" for="query">Enter search criteria</label>
            <input
                type="text"
                name="query"
                class="w-full py-4 px-6 border rounded"
                value="{{query}}"
                placeholder="Find whatever you want"
            />
            <button type="submit" class="btn bg-teal-400 my-4">Search</button>
            <p class="font-semibold my-3 text-center">Categories</p>
            <ul class="inline-block w-full bg-white rounded shadow">
                {% for category in categories %}
                <li class="{% if category.id == category_id %} bg-gray-200 {% endif %} hover:bg-gray-100 duration-200">
                    <a
                        class="inline-block w-full h-full p-2"
                        href="{% url 'item:items' %}?query={{query}}&category={{category.id}}"
                        >{{category.name}}</a
                    >
                </li>
                {% endfor %}
            </ul>
            <p class="font-semibold my-3 text-center">Clear Filters</p>
            <a class="btn bg-yellow-400 text-center" href="{% url 'item:items' %}">Clear</a>
        </form>
    </div>
    <div class="col-span-3">
        <div class="px-6 py-12 bg-gray-100 rounded-md">
            {% if items|length == 0 %}
            <h2 class="text-lg font-semibold">No Items Found</h2>
            {% else %}
            <div class="grid grid-cols-3 gap-3 grid-flow-row-dense">
                {% for item in items %}
                <div
                    class="bg-white rounded-md shadow-md flex flex-col justify-between hover:scale-[1.01] duration-200"
                >
                    <div class="text-center">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="rounded-t" />
                    </div>
                    <div class="p-4">
                        <div class="">
                            <h3 class="text-lg font-medium text-center">{{ item.name }}</h3>
                            <p class="mt-2 text-sm text-center text-gray-500">Price ${{ item.price }}</p>
                        </div>
                        <div class="mt-4">
                            <a
                                href="{% url 'item:detail' item.id %}"
                                class="block w-full px-4 py-2 text-sm font-medium text-center text-white bg-indigo-600 rounded-md hover:bg-indigo-700"
                                >View Item</a
                            >
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
